<header class="p-16">
  <div class="w-5/12 mx-auto">
    <div class="flex justify-between items-center">
      <h1 class="text-4xl text-white md:tracking-widest font-medium">TODO</h1>
      <div class="content-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">
          <path
            fill="#FFF"
            fill-rule="evenodd"
            d="M13 0c.81 0 1.603.074 2.373.216C10.593 1.199 7 5.43 7 10.5 7 16.299 11.701 21 17.5 21c2.996 0 5.7-1.255 7.613-3.268C23.22 22.572 18.51 26 13 26 5.82 26 0 20.18 0 13S5.82 0 13 0z"
          />
        </svg>
      </div>
    </div>

    <div class="relative mb-8">
      <span class="absolute inset-y-0 left-0 flex items-center pl-5 mt-5 text-gray-300">
        <button type="submit" class="p-5 focus:outline-none focus:shadow-outline">
          ⃝
        </button>
      </span>

      <input type="text" class="py-5 rounded w-full mt-5 h-14 text-lg px-14 text-gray-500" />
    </div>

    <div>
      <ul>
        <li>Beenas</li>
      </ul>
    </div>
  </div>
</header>
